@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.main-div {
  max-width: 320px;
  padding: 1.075em;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 1.25em;
  margin: 1.075rem;
  box-shadow: 0 1.6em 1.6em hsla(0, 0%, 0%, 0.05);
}

img { 
  border-radius: 0.675em;
  max-width: 100%;
  height: auto;
}

.info-header {
  color: hsl(218, 44%, 22%);
  font-size: 1.375rem;
  line-height: 1.275;
  margin-top: 1.1em;
}

.info-comment {
  color: hsl(220, 15%, 55%);
  font-size: 0.950rem;
  line-height: 1.3;
  margin: 1.075em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}
